<div class="logged_in_container">
  <span class="logged_in">
    <% if logged_in? %>
      Hello there <%= current_user.username %>
      <form action="/session" method="post">
      <input type="hidden" name="_method"         value="delete">
        <button class="logout_Btn">Logout</button>
      </form>
    <% end %>
  </span>
  <nav class="header_links">
    <a href="/">Home</a>
      <a href="/songs/new">Add</a>
      <a href="/playlist">Playlist</a>
  </nav>
</div>

<header>
    <h1>Edit Song</h1>
</header>

<div class="container">

  <form class="input_form" action="/songs/<%= @song['id']%> " method="post">
    <input type="hidden" name="_method" value="put">

    <label for="">Title</label>
    <br>
    <input class="input_box" type="text" name="title" value="<%= @song['title']%>">
    <br>
    <label for="">Artist</label>
    <br>
    <input class="input_box" type="text" name="artist" value="<%= @song['artist']%>">
    <br>
    <label for="">Song Link</label>
    <br>
    <input class="input_box" type="text" name="song_url" value="<%= @song['song_url']%>">
    <br>
    <button class="post_Btn">Edit</button>
  </form>

  <form action="/songs/<%= @song['id']%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <div class="delete_container">
      <button class="delete_Btn tooltip">
        Delete
        <span class="fineprint tooltiptext">If you delete this, it will delete for all users.
        <br>
        Unlike a song to remove it from your playlist.</span>
      </button> 
    </div>
  </form>
</div>