<div class="logged_in_container">
  <span class="logged_in">
    <% if logged_in? %>
      Hello there <%= current_user.username %>
      <form action="/session" method="post">
      <input type="hidden" name="_method"         value="delete">
        <button class="logout_Btn">Logout</button>
      </form>
    <% end %>
  </span>
  <nav class="header_links">
    <a href="/">Home</a>
    <% if logged_in? %>
      <a href="/songs/<%= @song['id']%>/edit">Edit</a>
      <a href="/songs/new">Add</a>
      <a href="/playlist">Playlist</a>
    <% end %>
    <% if !logged_in? %>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    <% end %>
  </nav>
</div>

<header>
    <h1>Monday Morning Music</h1>
</header>

<div class="details_body">


  <h2> <%= @song['artist'] %></h2>
  
  <iframe width="560" height="315" src="<%= @song['song_url'].sub('watch?v=', 'embed/') %>?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <section class="song_details">
    
      <%= @song['title'] %> from the album
      <%= @song['album'] %> 
   
  </section>
</div>

<span class="like_span">
  <p class="likes"> <%= @song.likes.count%> Likes 
    <% if logged_in? %>
      <% if has_liked?(@song.id) == false %>
          <form class="comment_form" action="/likes" method="post"> 
          <input type="hidden" name="song_id" value="<%= @song.id %>"> 
          <button class="like_Btn">Like</button>
          </form>
        <% else %>
        <form class="comment_form" action="/likes" method="post">
          <input type="hidden" name="song_id" value="<%= @song.id %>"> 
          <input type="hidden" name="_method" value="delete"> 
          <input type="hidden" name="like_id" value="<%= Like.where(user_id: current_user.id).where(song_id: @song.id).first.id %>">
          <button class="like_Btn">Unlike</button>
        </form>
      <% end %>
    <% end %>
  </p>
</span>

<% if logged_in? %>
  <form id="comment_form" class="comment_form" action="/comments" method="post">
    <input type="hidden" name="song_id" value="<%= @song['id'] %>">
    <label>Say something about the track?</label> <br>
    <textarea class="comment_box" name="content"></textarea> <br>
    <button class="post_Btn">Post</button>
  </form>
<% end %>

  <% @comments.each do |comment| %>
    <p class="comment_user"><%= comment.username %> said...</p>
    <p class="comment_text"> <%= comment['content'] %></p>
  <% end %>




<%# l1 = Like.where(user_id: 1).where(song_id: 20) %>
