<header>
  <h1>Morning, Monday</h1>
  <nav>
    <a href="/">
      <button class="nav_Btn">Home</button>
    </a>
    <% if logged_in? %>
      <a href="/playlist">
        <button class="nav_Btn">Playlist</button>
      </a>
      <a href="/songs/<%= @song['id']%>/edit">
        <button class="nav_Btn">Edit</button>
      </a>
      <form action="/songs/<%= @song['id']%>" method="post">
        <input type="hidden" name="_method" value="delete">
      <button class="nav_Btn">Delete</button>
      </form>
    <% end %>
  </nav>
</header>

<div class="details_body">


  <h2> <%= @song['artist'] %></h2>
  <img class="img_detail" src="<%= @song['artwork_url']%>" alt="">
  <iframe width="560" height="315" src="<%= @song['song_url'].sub('watch?v=', 'embed/') %>?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <section class="song_details">
    
      <%= @song['title'] %> from the album
      <%= @song['album'] %> 
   
  </section>
</div>

<p class="likes"> <%= @song.likes.count%> Likes </p>

<% if has_liked?(@song.id) == false %>
  <form class="comment_form" action="/likes" method="post">
    <input type="hidden" name="song_id" value="<%= @song.id %>">
    <button class="like_Btn">Like</button>
  </form>
  <% else %>
    <button class="like_Btn">Like</button>
<% end %>

<% if logged_in? %>
  <form class="comment_form" action="/comments" method="post">
    <input type="hidden" name="song_id" value="<%= @song['id'] %>">
    <label>Say something about the track?</label> <br>
    <textarea class="comment_box" name="content"></textarea> <br>
    <button class="post_Btn">Post</button>
  </form>

  <% @comments.each do |comment| %>
    <p><%= comment.username %> said...
    <%= comment['content'] %></p>
  <% end %>

<% end %>


